### _**Name: Rameesha Tariq**_
### _**Roll no: SU92-BSAI-F24-118**_
### _**Lab task - 10**_

In [1]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [3]:
df = df.dropna()

In [4]:
df['SepalLengthCm'] = df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean())
df['SepalWidthCm'] = df['SepalWidthCm'].fillna(df['SepalWidthCm'].median())

In [5]:
df['SepalLengthCm'] = df['SepalLengthCm'].astype(int)
df['SepalWidthCm'] = df['SepalWidthCm'].astype(int)
df['PetalLengthCm'] = df['PetalLengthCm'].astype(int)
df['PetalWidthCm'] = df['PetalWidthCm'].astype(int)

In [6]:
df.dtypes

Id                int64
SepalLengthCm     int32
SepalWidthCm      int32
PetalLengthCm     int32
PetalWidthCm      int32
Species          object
dtype: object

In [7]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1              5             3              1             0  Iris-setosa
1   2              4             3              1             0  Iris-setosa
2   3              4             3              1             0  Iris-setosa
3   4              4             3              1             0  Iris-setosa
4   5              5             3              1             0  Iris-setosa